# Entorno virtual
env/

# Ignorar archivos pyc y cache
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Archivos de configuración del editor
.vscode/
.idea/

# Archivos estáticos generados (si aplica)
staticfiles/

# Archivos de logs
*.log

# Archivos migrados
migrations/