/* style.css - Diseño general del sitio */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #060613;
  margin: 40px;
  color: #333;
}

h2 {
  color: #3dd8ff;
  text-shadow: 0px 0px 20px rgb(39, 225, 250);
  margin-bottom: 20px;
  text-align: center;
}

form {
  background-color: #092f52;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 0 auto 30px auto;
}

form button {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background-color: #357ab8;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  max-width: 600px;
  margin: 0 auto 20px auto;
  padding: 10px;
  list-style: none;
  border-left: 4px solid #f39c12;
  background-color: #fffbe6;
}

li.success {
  color: green;
}

li.error {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  color: white;
  background-color: #0e5292;
  box-shadow: 0px 0px 10px rgb(39, 96, 180);
}


/* ======================================= */
/*           Vista de la Tabla             */
/* ======================================= */
/* Título */
h2 {
  font-size: 28px;
  margin-top: 20px;
}

/* Tabla */
table {
  border-radius: 8px;
  overflow: hidden;
}

table th,
table td  {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #0d1113;
  padding: 12px;
  text-align: center;
}

table th{
  background-color: #4a90e2;
}

table td {
  font-size: 15px;
}

/* Fila hover */
table tr:hover {
  background-color: #07255f;
  transition: background-color 0.3s ease;
}

/* Enlaces como botones */
.btn {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  text-decoration: none;
  margin: 0 4px;
}

.btn-editar {
  background-color: #ffb74d;
  box-shadow: 0px 0px 10px rgb(162, 173, 62);
  color: #fff;
}

.btn-editar:hover {
  background-color: #ffa726;
}

.btn-eliminar {
  background-color: #e57373;
  box-shadow: 0px 0px 10px rgb(230, 99, 82);
  color: #fff;
}

.btn-eliminar:hover {
  background-color: #ef5350;
}

/* Botón de crear nuevo curso */
.btn-crear{
  display: block;
  width: fit-content;
  margin: 30px auto;
  background-color: #47c44b;
  box-shadow: 0px 0px 10px rgb(73, 177, 73);
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-crear:hover {
  background-color: #388e3c;
}

/* ======================================= */
/*          Creacion de la tabla           */
/* ======================================= */

p {
  margin-bottom: 20px;
}

p label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #ffffff;
}

select{
  cursor: pointer;
}

p input, p select {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #07255f;
  border: 1px solid #21c0ff;
  box-shadow: 0 0 10px rgba(74, 144, 226, 0.4);
  border-radius: 6px;
  font-size: 15px;
  box-sizing: border-box;
}

p input:focus, p select:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

form button {
  background-color: #40ff50;
  box-shadow: 0 0 10px #40ff50;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background-color: #40ff50;
}
/* ======================================= */
/*                                         */
/* ======================================= */